<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-retro ion-text-center">DETALHES DO PEDIDO</ion-title>
    <ion-buttons slot="start">
      <!--Caso eu logue na rota sem historico de navegacao-->
      <ion-back-button defaultHref="/main-tabs/opcoes-perfil/meus-pedidos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalhes-pedido</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
