<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-retro ion-text-center">DETALHES DA VENDA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-tabs/opcoes-perfil/minhas-vendas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <detalhe-item [anuncio]="this.anuncio"></detalhe-item>
  <slider-fotos [imagens]="this.anuncio.imagens"></slider-fotos>
  <detalhe-vendedor 
    [caracteristica]="'Comprador'"
    [usuario]="this.comprador">
  </detalhe-vendedor>
  <detalhe-endereco [endereco]="this.endereco"></detalhe-endereco>
  <status-compra [statusCompra]="this.venda.status"></status-compra>
  <codigo-rastreio [rastreio]="this.venda.codigoRastreio"></codigo-rastreio>
  <div class="ion-text-center font-retro vendedor">
    Área do Vendedor
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="font-retro">
        Comprovante de Pagamento
      </ion-card-subtitle>
    </ion-card-header>

    
    <ion-card-content>
      <div *ngIf="this.venda.comprovantePagamento != null" class="font-retro">
        Comprovante enviado:
        <img src={{this.venda.comprovantePagamento}}>
        <div class="ion-text-center">
          <a href={{this.venda.comprovantePagamento}}>
            <ion-icon name="cloud-download-outline" ></ion-icon>
            Download
          </a>
        </div>
      </div>

      <div class="pagamento">
        <ion-button color="warning" class="font-retro" (click)="recusarComprovante()"> Recusar </ion-button>
        <ion-button color="success" class="font-retro" (click)="aceitarComprovante()"> Aceitar </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="font-retro">Informar código de rastreio</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        id="novoCodRastreio"
        [clearInput]="true"
        name="novoCodRastreio"
        placeholder="Código de rastreio: "
        class="font-retro"
        [(ngModel)]="novoCodigoRastreio"
      >
      </ion-input>

      <div class="ion-text-center codRastreio">
        <ion-button 
          [disabled]="!novoCodigoRastreio"
          color="primary" 
          (click)="updateRastreio()"
          class="font-retro">
            Salvar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
