ion-card{
    background-color: var(--ion-color-light);
}

.font-retro{
    font-family: retroGame;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.alinha{
    display: flex; 
    align-items: center;
}