<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">MEUS ENDEREÇOS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-tabs/opcoes-perfil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-button style="margin: 5rem;" (click)="novoEndereco()">NOVO ENDEREÇO</ion-button>


