ion-title{
    font-family: retroGame;
}

ion-item{
    padding-bottom: 1em;
}

.busca{
    font-family: retroGame;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalhes{
    text-align: center;
    flex: 1; /* Isso fará com que as divs ocupem espaço igualmente */
    padding: 10px;
    display: inline-block;
    font-family: retroGame;
}

.vertical-center{
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 75% 10%;
}

.busca-fixa{
    position: sticky;
    top: 0; /* Ajuste a altura apropriada a partir do topo da viewport */
    z-index: 1; /* Z-index para empilhamento */
}

.label-detalhes{
    padding-top: 5px;
}

.preco{
    font-weight: bold;
    color: var(--ion-color-success)
}

.condicao{
    font-weight: bold;
    color: #E88624
}