<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center font-retro">RETRO COMMERCE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="busca-fixa">
    <ion-input 
      labelPlacement="floating"
      class="font-retro"
      [clearInput]="true"
      [(ngModel)]="busca"
      (ionChange)="buscar()"
    >
      <div slot="label">Buscar por...</div>
    </ion-input>
  </ion-item>

  <ion-card button *ngFor="let item of anuncios" class="ion-align-items-center" [routerLink]="'/detalhe-item/' + [item.id]">
    <ion-card-header>
      <ion-card-title class="font-retro card-title">
        {{item.jogoNome}}
       </ion-card-title>
      <ion-card-subtitle class="font-retro font-size-middle">
          Criado em: {{formataData(item.criadoEm)}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="flex">
      
      <img class="img-grande" alt="foto-anuncio" [src]="item.foto ? item.foto : './assets/icons/logo.png'" />

      <div>
        <div class="preco font-retro space">{{item.preco | currency: "BRL" }} </div>
        <div class="condicao font-retro space">{{item.conservacao}}</div>
    
        <div class="flex space">
          <img *ngIf="item.caixa" class="icon" src="./assets/icons/caixa.png" slot="start" alt="box" />
          <img *ngIf="item.manual" class="icon" src="./assets/icons/manual.png" slot="start" alt="box" />
        </div>

        <div class="font-retro font-size-middle">
          Por: {{item.anunciante}}
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
