<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center">RETRO COMMERCE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="busca-fixa">
    <ion-input 
      labelPlacement="floating"
      class="busca"
      [clearInput]="true"
      [(ngModel)]="busca"
      (ionChange)="buscar()"
    >
      <div slot="label" class="busca">Buscar por...</div>
    </ion-input>
  </ion-item>

  <ion-list>
      <ion-item 
        button 
        *ngFor="let item of anuncios" 
        class="ion-align-items-center"
        [routerLink]="'/detalhe-item/' + [item.id]"
      >
        <div class="vertical-center">
          
          <div>
            <ion-thumbnail>
              <img alt="foto-anuncio" src="./assets/icons/favicon.png" />
            </ion-thumbnail>
          </div>        
            
          <div class="detalhes">
            {{item.jogoNome}}
            <ion-label class="label-detalhes">
              <span class="preco">{{item.preco | currency: "BRL" }} </span> | <span class="condicao">{{item.conservacao}}</span>
            </ion-label>
          </div>


          <div class="icons">
            <img *ngIf="item.caixa" class="icon" src="./assets/icons/caixa.png" slot="start" alt="box" />
            <img *ngIf="item.manual" class="icon" src="./assets/icons/manual.png" slot="start" alt="box" />
          </div>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
