.flex{
    display: flex;
}


.busca-fixa{
    position: sticky;
    top: 0; /* Ajuste a altura apropriada a partir do topo da viewport */
    z-index: 1; /* Z-index para empilhamento */
}

.img-grande {
    width: 9rem;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 5px;
}

  
ion-card{
    background-color: var(--ion-color-light);
}

.font-retro{
    font-family: retroGame;
}

.card-title{
    font-size: 1rem;;
}

.font-size-middle{
    font-size: 0.8rem;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.info{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.preco{
    color: var(--ion-color-primary);
}

.condicao{
    color: #E88624;
    
}

.space{
    margin-bottom: 0.5rem;
}

.precoMin{
    color: var(--ion-color-success);
}

.precoMedio{
    color: var(--ion-color-warning);
}

.precoMax{
    color: var(--ion-color-danger);
}

.horizontal-line {
    height: 1px; /* Altura da linha */
    width: 100%; /* Largura da linha */
    background-color: #F4DCB4; /* Cor da linha (substitua pela cor desejada) */
}

.alinha{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.descricao-precos{
    font-size: 0.8rem;
}

.space-precos {
    display: flex;
    margin-top: 0.8rem;
}

.container{
    width: 100%;
}

ion-icon {
    margin-left: 2rem;
    font-size: 2rem;
}

