ion-title{
    font-family: retroGame;
}

ion-item{
    padding-bottom: 1em;
}

.busca{
    font-family: retroGame;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detalhes{
    text-align: center;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.items{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.box{
    flex: 1; /* Isso fará com que as divs ocupem espaço igualmente */
    padding: 10px;
    display: inline-block;
}

.busca-fixa{
    position: sticky;
    top: 0; /* Ajuste a altura apropriada a partir do topo da viewport */
    z-index: 1; /* Z-index para empilhamento */
}
