.title{
    font-family: retroGame;
}

.text-area{
    min-height: 15rem;
}

.font-retro{
    font-family: retroGame;
}

.div-flex{
    display: flex;
}

.preco{
    width: 70%;
}

.input-file{
    padding-top: 1rem;
}

.legenda{
    display: block;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.conservacao{
    margin-right: 1rem;
}

.button-criar{
    margin: 1rem;
}

  