<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title ion-text-center">NOVO ANÚNCIO</ion-title>
    <ion-buttons slot="start">
      <!--Caso eu logue na rota sem historico de navegacao-->
      <ion-back-button defaultHref="/main-tabs/meus-anuncios"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">novoAnuncio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
