ion-card{
    background-color: var(--ion-color-light);
}

ion-card-header{
    font-family: retroGame;
}

ion-card-content{
    text-align: justify;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}

img{
    max-height: 60vh;
}

.retroFont{
    font-family: retroGame;
}

.alinha{
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.card-anunciante{
    width: 30%;
}