<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="criarUsuario()">
    <ion-item>
      <ion-input
      id="nome"
      labelPlacement="floating"
      [(ngModel)]="usuario.nome"
      [clearInput]="true"
      name="nome"
      required
      >
      <div slot="label">Qual seu nome?</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      id="email"
      labelPlacement="floating"
      [(ngModel)]="usuario.email"
      [clearInput]="true"
      name="email"
      email
      required
      >
      <div slot="label">Qual seu email?</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      id="apelido"
      labelPlacement="floating"
      [(ngModel)]="usuario.apelido"
      [clearInput]="true"
      name="apelido"
      required
      >
      <div slot="label">Escolha um apelido para você!</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      id="data-nascimento"
      labelPlacement="floating"
      [(ngModel)]="usuario.dataNascimento"
      [clearInput]="true"
      name="dataNascimento"
      type="date"
      required
      >
      <div slot="label">Data de Nascimento</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      id="senha"
      labelPlacement="floating"
      [(ngModel)]="usuario.senha"
      [clearInput]="true"
      type="password"
      name="senha"
      minlength="10"
      required
      >
      <div slot="label">Senha</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      id="confirmar-senha"
      labelPlacement="floating"
      [(ngModel)]="usuario.confirmarSenha"
      [clearInput]="true"
      type="password"
      name="confirmar-senha"
      required
      >
      <div slot="label">Confirmar Senha:</div>
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Criar Conta</ion-button>
  </form>
</ion-content>
