.img-grande {
    width: 9rem;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 5px;
}

  
ion-card{
    background-color: var(--ion-color-light);
}

.font-retro{
    font-family: retroGame;
}

.card-title{
    font-size: 1rem;;
}

.criado-em{
    font-size: 0.8rem;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preco{
    color: var(--ion-color-success);
    margin-bottom: 0.8rem;
}

.condicao{
    color: #E88624;
    margin-bottom: 0.8rem;
}