<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center font-retro">MEUS ITENS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getMeusAnuncios($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card button *ngFor="let item of meusItens" class="ion-align-items-center">
    <ion-card-header>
      <ion-card-title class="font-retro card-title title">
        {{item.jogoNome}}
        <img (click)="editarAnuncio(item)" class="icon" src="./assets/icons/pen.png" alt="pen"/>
       </ion-card-title>
      <ion-card-subtitle class="font-retro criado-em">
          Criado em: {{formataData(item.criadoEm)}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="display: flex;">
      
      <img class="img-grande" alt="foto-anuncio" [src]="item.foto ? item.foto : './assets/icons/logo.png'" />

      <div>
        <div class="preco font-retro">{{item.preco | currency: "BRL" }} </div>
        <div class="condicao font-retro">{{item.conservacao}}</div>
    
        <div style="display: flex;">
          
          <img *ngIf="item.publico == true" class="icon" src="./assets/icons/eye.png" slot="start" alt="box" />
          <img *ngIf="item.caixa" class="icon" src="./assets/icons/caixa.png" slot="start" alt="box" />
          <img *ngIf="item.manual" class="icon" src="./assets/icons/manual.png" slot="start" alt="box" />
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
