<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-img class="tab-icon" src="./assets/icons/car_shop.png"></ion-img>
      <b>Comprar</b>
    </ion-tab-button>
    <ion-tab-button tab="meus-anuncios">
      <ion-img class="tab-icon" src="./assets/icons/itens.png"></ion-img>
      <b>Meus Itens</b>
    </ion-tab-button>

    <ion-tab-button (click)="novoAnuncio()">
      <ion-img class="tab-icon" src="./assets/icons/anunciar.png"></ion-img>
      <b>Anunciar</b>
    </ion-tab-button>
    <ion-tab-button tab="opcoes-perfil">
      <ion-label class="centered">
        <ion-img class="tab-icon" src="./assets/icons/avatarConfig.png"></ion-img>
        <b>Configurações</b>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>